In [ ]:
q1 :
ineruon 
ineruon ineruon 
ineruon ineruon ineruon
ineruon ineruon ineruon ineruon

q2 - 

          ineruon
    ineruon      ineruon
ineruon		ineruon 	ineruon
	ineruon		 ineruon
		  ineruon

l = [[1,2,3,4] , (2,3,4,5,6) , (3,4,5,6,7) , set([23,4,5,45,4,4,5,45,45,4,5]) , {'k1' :"sudh" , "k2" : "ineuron","k3":
            "kumar" , 3:6 , 7:8} , ["ineuron" , "data science "]]

q3 : Try to extract all the list entity 
q4 : Try to extract all the dict enteties
q5 : Try to extract all the tuple enteties
q6 : Try to extract all the numerical data it may b a part of dict key and values 
q7 : Try to give summation of all the numeric data 
q8 : Try to filter out all the odd values out all numeric data which is a part of a list 
q9 : Try to extract "ineruon" out of this data
q10 :Try to find out a number of occurances of all the data 
q11 : Try to find out number of keys in dict element
q12 : Try to filter out all the string data 
q13 : Try to Find  out alphanum in data
q14 : Try to find out multiplication of all numeric value in  the individual collection inside dataset 
q15 : Try to unwrape all the collection inside collection and create a flat list

Q(1)

In [13]:
for i in range (4) :
    for j in range(i+1) :
        print("ineuron", end=" ")
    print("\n")

ineuron

ineuron ineuron

ineuron ineuron ineuron

ineuron ineuron ineuron ineuron

In [22]:
row = int(input("Please ENTER How many rows you want to print : "))
print()
for i in range(row) :
    print("iNeuron " * (i+1))

Please ENTER How many rows you want to print : 3

iNeuron
iNeuron iNeuron
iNeuron iNeuron iNeuron

Q(2)

In [23]:
for i in range(6):
    if i <= 3 :
        n = i
    else:
        n = 6-i
    print(("iNeuron "*n).center(60,' '))

                          iNeuron
                      iNeuron iNeuron
                  iNeuron iNeuron iNeuron
                      iNeuron iNeuron
                          iNeuron

In [25]:
def Row(a) :
    for i in range(a):
        if i <= a/2 :
            n = i
        else:
            n = a-i
        print(("iNeuron "*n).center(60,' '))

In [26]:
Row(6)

                          iNeuron
                      iNeuron iNeuron
                  iNeuron iNeuron iNeuron
                      iNeuron iNeuron
                          iNeuron

In [14]:
n=3
for i in range(n) :
    n=n-i
    print("  "*n , end=" ")
    for j in range(i+1)  :
        print("iNeuron" , end= " ")
    print("\n")
n=1   
for i in range(n):
    n =(n+i)*2
    print("  "*n , end=" ")
    for j in range(i+2):
        print("iNeuron" , end=" ")
    print("\n")
n=1
for i in range(n):
    n=(n+i)*4
    print("  "*n , end="  ")
    for k in range(i+1):
        print("iNeuron" , end=" ")
        print("\n")

       iNeuron

     iNeuron iNeuron

 iNeuron iNeuron iNeuron

     iNeuron iNeuron

          iNeuron

In [15]:
n=1
for i in range(n):
    n=(n+i)*11
    print("  "*n , end="  ")
    for j in range(i+1) :
        print("iNeuron" , end="      ")
    print()    
n=1
for i in range(n) :
    n=(n-i)*8
    print("  "*n , end=" ")
    for j in range(i+2)  :
        print("iNeuron" , end= "      ")
    print()
n=1
for i in range(n) :
    n=(n-i)*4
    print("  "*n , end="   ")
    for j in range(i+3)  :
        print("iNeuron" , end= "      ")
    print()
n=1   
for i in range(n):
    n =(n+i)*8
    print("  "*n , end=" ")
    for j in range(i+2):
        print("iNeuron" , end="      ")
    print()
n=1
for i in range(n):
    n=(n+i)*11
    print("  "*n , end="  ")
    for k in range(i+1):
        print("iNeuron" , end="      ")
        print()

                        iNeuron
                 iNeuron      iNeuron
           iNeuron      iNeuron      iNeuron
                 iNeuron      iNeuron
                        iNeuron

Q(3)

In [28]:
l = [[1,2,3,4] , (2,3,4,5,6) , (3,4,5,6,7) , set([23,4,5,45,4,4,5,45,45,4,5]) , {'k1' :"sudh" , "k2" : "ineuron","k3":
            "kumar" , 3:6 , 7:8} , ["ineuron" , "data science "]]

In [29]:
for i in l :
    if type(i) == list:
        print(i)

[1, 2, 3, 4]
['ineuron', 'data science ']

In [17]:
#Try to extract all the list entity 

l1 = list(l[3])
print(l[0] , l1 , l[5])

[1, 2, 3, 4] [45, 4, 5, 23] ['ineuron', 'data science ']

Q(4)

In [30]:
for i in l :
    if type(i) == dict:
        print(i)

{'k1': 'sudh', 'k2': 'ineuron', 'k3': 'kumar', 3: 6, 7: 8}

In [18]:
#Try to extract all the dict enteties

print(l[4])

{'k1': 'sudh', 'k2': 'ineuron', 'k3': 'kumar', 3: 6, 7: 8}

Q(5)

In [31]:
for i in l :
    if type(i) == tuple:
        print(i)

(2, 3, 4, 5, 6)
(3, 4, 5, 6, 7)

In [19]:
# Try to extract all the tuple enteties

print(l[1] , l[2])

(2, 3, 4, 5, 6) (3, 4, 5, 6, 7)

Q(6)

In [33]:
l1 = []
for i in l :
    if type(i) == list or type(i) == tuple or type(i) == set :
        for j in i :
            if type(j) == int:
                l1.append(j)
    if type(i) == dict :
        for k in i.items():
            for g in k :
                if type(g) == int :
                    l1.append(g)

In [34]:
l1

[1, 2, 3, 4, 2, 3, 4, 5, 6, 3, 4, 5, 6, 7, 45, 4, 5, 23, 3, 6, 7, 8]

In [20]:
#Try to extract all the numerical data it may b a part of dict key and values

for i in l:
    if type(i) == list or type(i) == tuple or type(i) == set :
        for j in i :
            if type(j) == int:
                print(j)
    if type(i) == dict:
        for a,b in i.items():
            if a == 3 or a == 7 or b == 6 or b == 8 :
                print(a)
                print(b)

1
2
3
4
2
3
4
5
6
3
4
5
6
7
45
4
5
23
3
6
7
8

Q(7)

In [35]:
#Try to give summation of all the numeric data 

sum(l1)

156

Q(8)

In [22]:
#Try to filter out all the odd values out all numeric data which is a part of a list

for i in l:
    if type(i) == (list) or type(i) ==(tuple) or type(i) == (set) :
        for j in i :
            if type(j) == int :
                if j % 2 != 0 :
                    print(j)
    if type(i) == dict:
        for a,b in i.items():
            if a == 3 or a == 7 or b == 6 or b == 8 :
                if a % 2 != 0:
                    print(a)
                    if b % 2 != 0:
                        print(b)

1
3
3
5
3
5
7
45
5
23
3
7

In [36]:
for i in l1:
    if i % 2 == 0 :
        pass
    else :
        print(i)

1
3
3
5
3
5
7
45
5
23
3
7

Q(9)

In [23]:
l

[[1, 2, 3, 4],
 (2, 3, 4, 5, 6),
 (3, 4, 5, 6, 7),
 {4, 5, 23, 45},
 {'k1': 'sudh', 'k2': 'ineuron', 'k3': 'kumar', 3: 6, 7: 8},
 ['ineuron', 'data science ']]

In [39]:
#Try to extract "ineruon" out of this data
l1 = []
for i in l :
    if type(i) == list or type(i) == tuple or type(i) == set :
        for j in i :
            if j == 'ineuron':
                l1.append(j)
    if type(i) == dict :
        for k in i.items():
            for g in k :
                if g == "ineuron" :
                    l1.append(g)

In [40]:
l1

['ineuron', 'ineuron']

In [41]:
for i in l :
    if type(i) == list :
        for j in i :
            if type(j) == str :
                if j == 'ineuron':
                    print(j)
l1 == l[4]
for i in l1 :
    if i == '':
        print(l1[i])

ineuron

Q(10)

In [42]:
l1 = []
for i in l :
    if type(i) == list or type(i) == tuple or type(i) == set :
        for j in i :
            if type(j) == int or type(j) == str:
                    l1.append(j)
    if type(i) == dict :
        for k in i.items():
            for g in k :
                if type(g) == int or type(g) == str :
                    l1.append(g)

In [43]:
l1

[1,
 2,
 3,
 4,
 2,
 3,
 4,
 5,
 6,
 3,
 4,
 5,
 6,
 7,
 45,
 4,
 5,
 23,
 'k1',
 'sudh',
 'k2',
 'ineuron',
 'k3',
 'kumar',
 3,
 6,
 7,
 8,
 'ineuron',
 'data science ']

In [44]:
set(l1)

{1,
 2,
 23,
 3,
 4,
 45,
 5,
 6,
 7,
 8,
 'data science ',
 'ineuron',
 'k1',
 'k2',
 'k3',
 'kumar',
 'sudh'}

In [47]:
for i in set(l1) :
    if type(i) == str or type(i) == int :
        print(i , ':' , l1.count(i))

1 : 1
2 : 2
3 : 4
4 : 4
5 : 3
6 : 3
7 : 2
k3 : 1
8 : 1
45 : 1
kumar : 1
data science  : 1
k1 : 1
k2 : 1
23 : 1
ineuron : 2
sudh : 1

Q(11)

In [14]:
l

[[1, 2, 3, 4],
 (2, 3, 4, 5, 6),
 (3, 4, 5, 6, 7),
 {4, 5, 23, 45},
 {'k1': 'sudh', 'k2': 'ineuron', 'k3': 'kumar', 3: 6, 7: 8},
 ['ineuron', 'data science ']]

In [15]:
L = l[4]

In [16]:
L

{'k1': 'sudh', 'k2': 'ineuron', 'k3': 'kumar', 3: 6, 7: 8}

In [17]:
for i in L:
    print(i)

k1
k2
k3
3
7

In [49]:
#Solution
for i in l :
    if type(i) == dict :
        print(len(i))

5

Q(12)

In [18]:
l

[[1, 2, 3, 4],
 (2, 3, 4, 5, 6),
 (3, 4, 5, 6, 7),
 {4, 5, 23, 45},
 {'k1': 'sudh', 'k2': 'ineuron', 'k3': 'kumar', 3: 6, 7: 8},
 ['ineuron', 'data science ']]

In [30]:
l1 = l[4]
for i in l1:
    if type(i) == str:
        print(i)
        print(l1[i])
for i in l :
    if type(i) == list:
        for j in i :
            if type(j) == str :
                print(j)

k1
sudh
k2
ineuron
k3
kumar
ineuron
data science

In [86]:
l1 = []
for i in l :
    if type(i) == list or type(i) == tuple or type(i) == set :
        for j in i :
            if type(j) == int or type(j) == str:
                    l1.append(j)
    if type(i) == dict :
        for k in i.items():
            for g in k :
                if type(g) == int or type(g) == str :
                    l1.append(g)

In [87]:
l4 = []
for i in l1 :
    if type(i) == str  :
        print(i)

k1
sudh
k2
ineuron
k3
kumar
ineuron
data science

Q(13)

In [88]:
l1

[1,
 2,
 3,
 4,
 2,
 3,
 4,
 5,
 6,
 3,
 4,
 5,
 6,
 7,
 45,
 4,
 5,
 23,
 'k1',
 'sudh',
 'k2',
 'ineuron',
 'k3',
 'kumar',
 3,
 6,
 7,
 8,
 'ineuron',
 'data science ']

In [89]:
for i in l1 :
    if type(i) == str : #cozz isalnum etc function is used only for string data
        if i.isalnum() :
            print(i)

k1
sudh
k2
ineuron
k3
kumar
ineuron

Q(14)

In [91]:
l

[[1, 2, 3, 4],
 (2, 3, 4, 5, 6),
 (3, 4, 5, 6, 7),
 {4, 5, 23, 45},
 {'k1': 'sudh', 'k2': 'ineuron', 'k3': 'kumar', 3: 6, 7: 8},
 ['ineuron', 'data science ']]

In [92]:
for i in l :
    m=1
    if type(i) == list or type(i) == tuple or type(i) == set :
        for j in i :
            if type(j) == int :
                m = m * j
        print(m)
    if type(i) == dict :
        for k in i.items():
            for n in k :
                if type(n) == int :
                    m = m*n
        print(m)

24
720
2520
20700
1008
1

Q(15)

In [93]:
l

[[1, 2, 3, 4],
 (2, 3, 4, 5, 6),
 (3, 4, 5, 6, 7),
 {4, 5, 23, 45},
 {'k1': 'sudh', 'k2': 'ineuron', 'k3': 'kumar', 3: 6, 7: 8},
 ['ineuron', 'data science ']]

In [96]:
l1 = []
for i in l :
    if type(i) == list or type(i) == tuple or type(i) == set :
        for j in i :
            if type(j) == int:
                l1.append(j)
    if type(i) == dict :
        for k in i.items():
            for g in k :
                if type(g) == int :
                    l1.append(g)

In [97]:
l1

[1, 2, 3, 4, 2, 3, 4, 5, 6, 3, 4, 5, 6, 7, 45, 4, 5, 23, 3, 6, 7, 8]